@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* Variables */
:root{  



}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

                              /* main styling */
body{
  height: 100vh; 
  font-family: "Noto Sans JP";
}

section {
  height: 100vh;
  scroll-snap-align: center;
}

.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

header{
  font-size: large;
  height: 50px;
}

                                  /* sticky navBar */
#navBar a{
  text-decoration: none;
  color: indianred;
}

#navBar{
  width: 100%;
  position: fixed;
  padding:20px;
}

#navBar ul{
  width: 100%;
  display: flex;
  justify-content:center;
  list-style: none;
}

#navBar li{
  text-decoration: none;
  padding-right: 25px;
  justify-content: center;
  
}

#navBar ul li a:hover{
  background-color:#e5f8ff;

}

.name{
  width: fit-content;
  margin-top: 20px;
  margin-left: 50%;
  font-size: 70px;
  font-family: 'Pacifico';
  color:#24c8bf ;
}

                          /* all section's background design     */
.Linear-Gradient {
  height: 100vh;
  width: 100%;
  background:#212531;
  background: linear-gradient(to left bottom,#ffffff 50%, #d1f3ff 50%); 
}

#skills-page.Linear-Gradient{
  background: linear-gradient(to right bottom,#ffffff 50%, #ffddd1 50%); 
}

#projects-page.Linear-Gradient{
  background: linear-gradient(to left bottom,#ffffff 50%, #d1ffdd 50%); 

}

#hobby-page.Linear-Gradient{
  background: linear-gradient(to right bottom,#ffffff 50%,#f4d1ff 50%); 
}

                          /* image and about me */
main{
  display: flex;
  justify-content:space-between;
  
}
main .img{

  background: url(/images/Inna.JPG) no-repeat center center/cover;
  width: 350px;
  height: 350px;
  margin-left: 45px;
  border-radius: 50px;
  filter: grayscale(100%);  /*grayscale filter*/
  transform: translateX(-120%);       /* i use translateX to make the image dissapear from the screen*/
  animation: slide-in 2s ease-in forwards;      /* animation name, animation time */
}

@keyframes slide-in {
  100% { 
    transform: translateX(0%); }
}

.img:hover{
  filter: none;
}

main .about-me{
  border: solid black;
  width: 500px;
  height: 300px;
  margin-left: 400px;
  margin-top: 30px;
}

#down{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  box-shadow: 0 0 0 0 rgba(255,255,255,.1);
  border-radius: 100%;
  opacity: 0;
  animation: sdb03 3s infinite;
}

@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}


